<html>
  <body style="background-color: #DBF9FC;">
<h1 style="color:red;text-align:center;">{{title}}</h1>
<h1 style="color:black;">{{title1}}</h1>
<h3 style="background-color:aqua;"> This is Anujna M Rao From NMAMIT,Nitte...</h3>
<h3 style="background-color: #DBF9FC;">The Following are the student details of MCA</h3>
 <table>
  <tr>
  <th>Name</th>
  <th>Phone Number</th> 
  <th>Email address</th>
  </tr>
  <tr>
  <td>Anujna</td>
  <td>9880945503</td>
  <td>anu@gmail.com</td>
  </tr>
  <tr>
  <td>Anusha</td>
  <td>8978654321</td>
  <td>anush@gmail.com</td>
  </tr>
  <tr>
  <td>Ash</td>
  <td>9876543211</td>
  <td>as@gmail.com</td>
  </tr>
  </table>
  </body>
</html>